<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Netty-Websocket</title>
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript">
        var socket;
        var uid ;
        var player;
        var handCards;
        var seatNum;
        var tableNum;
        var turnNum;
        var table;
        var players;

        function websoketStart() {
            if (!window.WebSocket) {
                window.WebSocket = window.MozWebSocket;
            }
            if (window.WebSocket) {
                socket = new WebSocket("ws://39.104.87.202:8787/ws?token="+uid+"&say=hello");
                socket.onmessage = function (event) {
                    console.log(event);
                    var responseText = document.getElementById('responseText');
                    responseText.value += event.data + "\r\n\r\n";

                    var data = JSON.parse(event.data)
                    if (data.actionCode == "AllReadyAction") {
                        console.log("---AllReadyAction---")
                        players = data.players;
                        for (var index in players) {
                            var p = players[index];
                            //console.log(p.uid + "--" + uid)
                            if (p.uid == uid) {
                                player = p;
                                handCards = player.handCards;
                                document.getElementById('rascalCount').innerHTML = p.rascalCount;
                            }
                        }
                        document.getElementById('rascal').innerHTML = data.rascalCard;
                        turnNum = data.turnNum;
                    } else if (data.actionCode == "PlayAction") {
                        console.log("---PlayAction---")
                        players = data.players;
                        for (var index in players) {
                            var p = players[index];
                            //console.log(p.uid + "--" + uid)
                            if (p.uid == uid) {
                                player = p;
                                handCards = player.handCards;
                            }
                        }
                        turnNum = data.turnNum;
                    } else if (data.actionCode == "DrawAction") {
                        console.log("---DrawAction---")
                        if (data.player.uid == uid) {
                            handCards = data.player.handCards
                        }
                    } else if (data.actionCode == "EnterTableAction") {
                        console.log("---EnterTable---")
                        players = data.players;
                        for (var index in players) {
                            var p = players[index];
                            if (p.uid == uid) {
                                player = p;
                                seatNum = p.seatNum;
                                tableNum = p.tableNum;
                                document.getElementById('seatNum').innerHTML = seatNum;
                                document.getElementById('tableNum').innerHTML = p.tableNum;
                            }
                        }
                    } else if (data.actionCode == "PengAction") {
                        console.log("---PengAction---")
                        handCards = data.handCards;
                        turnNum = data.seatNum;
                    }else if (data.actionCode == "ChiAction") {
                        console.log("---ChiAction---")
                        handCards = data.handCards;
                        turnNum = data.seatNum;
                    }else if (data.actionCode == "GangAction") {
                        console.log("---GangAction---")
                        handCards = data.handCards;
                        turnNum = data.seatNum;
                    }
                    updateValue();
                };
                socket.onopen = function (event) {
                    console.log(event);
                    var responseText = document.getElementById('responseText');
                    responseText.value = "Netty-WebSocket服务器。。。。。。连接  \r\n";
                };
                socket.onclose = function (event) {
                    var ta = document.getElementById('responseText');
                    ta.value += "\r\n Netty-WebSocket服务器。。。。。。关闭 \r\n";
                };
            } else {
                alert("您的浏览器不支持WebSocket协议！");
            }
        }


        function send(message) {
            if (!window.WebSocket) {
                return;
            }
            if (socket.readyState == WebSocket.OPEN) {
                socket.send(message);
            } else {
                alert("WebSocket 连接没有建立成功！");
            }
        }

        function updateValue() {
            document.getElementById('handCards').innerHTML = handCards;
            document.getElementById('turnNum').innerHTML = turnNum;
            var str = '';
            for (var index in handCards) {
                var num = handCards[index];
                str += "<img src='/images/majiang/mj_" + num + ".png'/>";
            }
            document.getElementById('mjImg').innerHTML = str;
        }

        //设置用户id
        function setUid() {
            uid = document.getElementById('memberId').value;
            document.getElementById('uid').innerHTML = uid;
        }
        //断开连接
        function websoketClose() {
            socket.close();
        }
        //进入牌局
        function enterTableAction() {
            var tableNum = document.getElementById('enterTableNum').value;
            var type = document.getElementById('enterType').value;
            var msg = "{ 'actionCode':'EnterTableAction' ,'Params':{'code':"+tableNum+",'type':" + type + "}}";
            send(msg);
        }
        //创建牌局
        function createTableAction() {

            var type = document.getElementById('createType').value;
            var msg = "{ 'actionCode':'EnterTableAction' ,'Params':{'code':-1,'type':" + type + "}}";
            send(msg);
        }
        //摸牌
        function drawAction() {
            var msg = "{ 'actionCode':'DrawAction' ,'Params':{}}";
            send(msg);
        }
        //出牌
        function playAction() {
            var card = document.getElementById('playCard').value;
            var msg = "{ 'actionCode':'PlayAction' ,'Params':{'card':" + card + "}}";
            send(msg);
        }
        //碰
        function pengAction() {
            var card = document.getElementById('pengCard').value;
            var msg = "{ 'actionCode':'PengAction' ,'Params':{'card':" + card + "}}";
            send(msg);
        }
        //吃
        function chiAction() {
            var card2 = document.getElementById('chiCard2').value;
            var card3 = document.getElementById('chiCard3').value;
            var msg = "{ 'actionCode':'ChiAction' ,'Params':{'card2':" + card2 + ",'card3':"+card3+"}}";
            send(msg);
        }
        //碰
        function gangAction() {
            var card = document.getElementById('gangCard').value;
            var msg = "{ 'actionCode':'GangAction' ,'Params':{'card':" + card + "}}";
            send(msg);
        }
        //过
        function passAction() {
            var msg = "{ 'actionCode':'PassAction' ,'Params':{}}";
            send(msg);
        }
        //准备
        function readyAction() {
            var msg = "{ 'actionCode':'ReadyAction' ,'Params':{}}";
            send(msg);
        }
        //胡牌
        function huAction() {
            var msg = "{ 'actionCode':'HuAction' ,'Params':{}}";
            send(msg);
        }
        //托管状态
        function hangUpAction() {
            var status = document.getElementById("status").innerHTML;
            if (status=="正常"){
                var msg = "{'actionCode':'HangUpAction','Params':{'playerStatus':0}}";
                send(msg);
                document.getElementById("status").innerHTML = "托管"
            }else {
                var msg = "{'actionCode':'HangUpAction','Params':{'playerStatus':1}}";
                send(msg);
                document.getElementById("status").innerHTML = "正常";
            }
        }
        //补牌
        function addOneCard() {
            $.ajax({
                type: "POST",
                url: "http://39.104.87.202:8080/api/game/card/add",
                // contentType: 'application/json',
                data:
                    {"tableNum": tableNum, "card": document.getElementById('addCard').value},
                success: function (response) {
                    if (response.code == 200) {
                        console.log("添加一张牌成功");
                        // window.location.reload();
                    } else {
                        alert(response.message);
                    }
                },
                dataType: "json"
            });
        }

    </script>
</head>
<body>
<form onSubmit="return false;" style="text-align: center;">
    <label>TEXT</label><input style="width:650px;height: 30px;" type="text" name="message" value=""/> <br/>
    <br/> <input style="width:400px" type="button" value="发送ws消息"
                 onClick="send(this.form.message.value)"/>
    <br>
    <hr color="black"/>
    <br>
    UID:<span id="uid" style="padding-right:30px;"></span>
    桌号:<span id="tableNum" style="padding-right:30px;"></span>
    位置:<span id="seatNum" style="padding-right:30px;"></span>
    状态：<span id="status" value="正常" style="padding-right:30px;">正常</span>
    宝牌:<span id="rascal" style="padding-right:30px;"></span>
    宝牌数:<span id="rascalCount" style="padding-right:30px;"></span>
    手牌:<span id="handCards" style="padding-right:30px;"></span>
    手牌数:<span id="handCardsSize" style="padding-right:30px;"></span>
    轮到:<span id="turnNum" style="padding-right:30px;"></span>
    <br><br>
    <button onClick="setUid()">用户</button>
    <input style="width:40px;height: 18px;" type="text" id="memberId" value="6000"/>&nbsp;&nbsp;
    <button onClick="websoketStart()">连接</button>&nbsp;&nbsp;

    <button onClick="enterTableAction()">进入</button>
    <input style="width:30px;height: 18px;" type="text" id="enterTableNum" value="-1"/>
    <input style="width:30px;height: 18px;" type="text" id="enterType" value="1"/>&nbsp;&nbsp;

    <button onClick="createTableAction()">创建</button>
    <input style="width:30px;height: 18px;" type="text" id="createType" value="10"/>&nbsp;&nbsp;

    <button onClick="readyAction()">准备</button>&nbsp;&nbsp;
    <button onClick="hangUpAction()">托管</button>&nbsp;&nbsp;
    <button onClick="addOneCard()">加牌</button>
    <input style="width:30px;height: 18px;" type="text" id="addCard" value=""/>&nbsp;&nbsp;
    <button onClick="websoketClose()">断开</button>&nbsp;&nbsp;
    <br/>
    <button onClick="playAction()">出牌</button>
    <input style="width:30px;height: 18px;" type="text" id="playCard" value=""/>&nbsp;&nbsp;
    <button onClick="drawAction()">摸牌</button>&nbsp;&nbsp;
    <button onClick="pengAction()">碰</button>
    <input style="width:30px;height: 18px;" type="text" id="pengCard" value=""/>&nbsp;&nbsp;
    <button onClick="chiAction()">吃</button>
    <input style="width:30px;height: 18px;" type="text" id="chiCard2" value=""/>
    <input style="width:30px;height: 18px;" type="text" id="chiCard3" value=""/>&nbsp;&nbsp;
    <button onClick="gangAction()">杠</button>
    <input style="width:30px;height: 18px;" type="text" id="gangCard" value=""/>&nbsp;&nbsp;

    <button onClick="passAction()">过</button>&nbsp;&nbsp;


    <button onClick="huAction()">胡牌</button>&nbsp;&nbsp;
    <br><br>

    <div id="mjImg">
        <img src='/images/majiang/mj_1.png'/>
    </div>

    <h3>服务端返回的应答消息</h3>
    <textarea id="responseText" style="width: 1024px;height: 300px;"></textarea>
</form>
</body>
</html>
