<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="icon" href="/images/paperPlane.gif">
    <title>NCHU</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/publish.css">
    <link rel="stylesheet" href="/css/index.css">
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <script src="/js/nchu.js"></script>
</head>

<body class="body">
<!--导航栏-->
<nav class="navbar navbar-default navbar-fixed-top" th:include="nav::navPart">
</nav>

<!--content-->
<div class="container-fluid publish">
    <div class="row">
        <div>
            <ul class="nav nav-tabs">
                <li role="presentation" >
                    <a th:href="@{/}">
                        Home
                    </a>
                </li>
                <li role="presentation"class="active">
                    <a th:href="@{/post/toPublish}">
                        发帖
                    </a>
                </li>
                <li role="presentation"><a href="#">Messages</a></li>
            </ul>
        </div>
        <div class=" col-md-9">
            <!--/*@thymesVar id="textPostModel" type=""*/-->
            <form th:action="@{/post/publish}" method="post" th:object="${textPostModel}">
                <br><br>
                <br><br>
                <!--/*@thymesVar id="error" type=""*/-->
                <span style="color:red;font-family: 行楷" th:text="${error}"></span>
                <div class="input-group">
                    <input type="hidden" name="postId" th:if="${postDetail}!=null" th:value="${postDetail.postId}">
                    <span class="input-group-addon" id="sizing-addon1" >标题</span>
                    <span th:if="${postDetail}!=null">
                    <input id="title" name="title" type="text" class="form-control" th:value="${postDetail.title}" placeholder=" 标题 ヾ(•ω•`)o" aria-describedby="sizing-addon2">
                    </span>
                    <span th:if="${postDetail}==null">
                    <input  name="title" type="text" class="form-control"  placeholder=" 标题 ヾ(•ω•`)o" aria-describedby="sizing-addon2">
                    </span>
                </div>
                <div class="input-group">

                    <span class="input-group-addon" id="sizing-addon2">内容</span>
                    <textarea th:if="${postDetail}==null"  name="content" class="form-control"  placeholder=" 内容 ヾ(•ω•`)o" rows="7" aria-describedby="sizing-addon2">
                    </textarea>
                    <textarea th:if="${postDetail}!=null" id="content" name="content" class="form-control"  placeholder=" 内容 ヾ(•ω•`)o" rows="7" aria-describedby="sizing-addon2">
                        <h th:text="${postDetail.content}"/>
                    </textarea>
                </div>
                <div class="form-group">
                    <label for="exampleInputFile">File input</label>
                    <input type="file" id="exampleInputFile">
                    <p class="help-block">Example block-level help text here.</p>
                </div>
                <script th:if="${postDetail}!=null" th:inline="javascript">
                    /*js给textarea赋值*/
                    var a = [[${postDetail.content}]];
                    document.getElementById("content").innerHTML= a
                </script>

                <div class="input-group" style="width: 82px">
                <button type="submit" class="btn btn-info" >呈上宝帖</button>
                </div>
            </form>
        </div>
        <div class="col-xs-12 col-md-3">
            <br><br><br><br>

            <dl>
                <dt><h3>Read Me <small> 看看我吧 (✿◕‿◕✿)</small></h3></dt>
                <dd>
                    <li><img src="https://v1.jinrishici.com/all.svg"></li>
                </dd>
            </dl>
            <div class="form-group">
                <label>选择图片：</label>
                <div>
                    <input type="file" class="form-control brandPic" id="brandPic" multiple="multiple">
                    <img class="head-img">
                </div>
            </div>
            <form action="/post/uploadImg" method="post" enctype="multipart/form-data">
                <input type="file" multiple="multiple" name="file">
                <input type="submit">
            </form>
            <script>
                $('#brandPic').on('change',function(){
                    console.log('image_upload')
                    // 如果没有选择图片 直接退出
                    if(this.files.length <=0){
                        return false;
                    }
                    var data = $("#brandPic").val();
                    // 图片上传到服务器
                    var pic1 = this.files[0];
                    var formData = new FormData();
                    // 服务端要求参数是 pic1
                    formData.append('pic1',pic1);
                    $.ajax({
                        url:'/post/uploadImg',
                        type:'post',
                        data:data,
                        // headers:{
                        //   "file":"multipart"
                        // },
                        // crossDomain:true,
                        cache: false, //上传文件不需要缓存
                        processData: false, // 告诉jQuery不要去处理发送的数据
                        contentType: false, // 告诉jQuery不要去设置Content-Type请求头
                        mimeType:"multipart/form-data",
                        dataType:'json',
                        success:function(data){
                            console.log(data);
                            // 设置图片预览功能
                            // $('.head-img').attr('src',data.picAddr);
                        },
                        fail:function (res) {
                            console.log('失败@@@'+res)
                        }
                    })
                })
            </script>
        </div>
    </div>
</div>

<script type="application/javascript">
    function changeMusic() {
        var a = document.getElementById('changeMusic');
        a.src='https://api.uomg.com/api/rand.music';
    }
</script>
</body>
</html>