<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>登录</title>
    <link rel="icon" href="/images/paperPlane.gif">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
<!--    <link rel="import" href="index.html" id="page1"/>-->
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <script src="/js/nchu.js"></script>
</head>
<body style="

    margin: auto;
    height: 500px;
    padding: 200px 0 0 0;">


<!--导航栏-->
<nav class="navbar navbar-default navbar-fixed-top" th:include="nav::navPart">
</nav>


<div class="container-fluid publish">
    <div class="row">
        <div class=" col-md-10 center-block">

            <div class="page-header">
                <h1>用户登录 <small>Wellcome to NCHU</small></h1>
            </div>

<!--            <form class="form-horizontal" th:action="@{/user/login}" method="post" th:object="${userLoginModel}">-->

                <div class="form-group">
                    <label for="stuId" class="col-sm-2 control-label">Username</label>
                    <div class="col-sm-10">
                        <input type="text" name="stuId" class="form-control" id="stuId" placeholder="Username">
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="col-sm-2 control-label">Password</label>
                    <div class="col-sm-10">
                        <input type="password" name="password" class="form-control" id="password" placeholder="Password">
                    </div>
                </div>

                <!--    <div class="form-group">-->
                <!--        <div class="col-sm-offset-2 col-sm-10">-->
                <!--            <div class="checkbox">-->
                <!--                <label>-->
                <!--                    <input type="checkbox"> Remember me-->
                <!--                </label>-->
                <!--            </div>-->
                <!--        </div>-->
                <!--    </div>-->

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button onclick="login()" class="btn btn-default">登录</button>
                    </div>
                </div>

        </div>

    </div>
</div>



</body>
</html>