<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="icon" href="/images/paperPlane.gif">
    <title>NCHU</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/index.css">
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <style>
    </style>
</head>


<body class="body" style="background: whitesmoke;">
<!--导航栏-->
<!--导航栏-->
<nav class="navbar navbar-default navbar-fixed-top" th:include="nav::navPart">
</nav>
<!--<div id="bg-over">
</div>-->
<!--content-->
<div class="container-fluid content">
    <div class="row" style="background:rgb(250 255 250); box-shadow: 0px 5px 15px grey;border-radius: 18px;">
        <div class="col-xs-12 col-md-9">
            <br>
            <ul class="nav nav-tabs">
                <li role="presentation" class="active">
                    <a th:href="@{/}">
                        我的帖子
                    </a>
                </li>
                <li role="presentation">
                    <a th:href="@{/post/toPublish}">
                        发帖
                    </a>
                </li>
                <li role="presentation"><a href="#">Messages</a></li>
            </ul>
            <!--帖子展示-->

            <div class="media" th:each="postUserEntry : ${session.postPersonMap}">
                <div class="media-left">
                    <a href="#">
                        <img style="width: 40px; box-shadow: 1px 1px 2px midnightblue; " class="media-object img-circle"
                             th:src="${postUserEntry.value.avatar}"
                             th:alt="${postUserEntry.value.name}">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading text-primary" style="font-family:'楷体'" th:text="${postUserEntry.value.nickName}"></h4>
                    <span class="text-justify" th:text="${postUserEntry.key.title}"></span> <!--标题-->
                    <a th:href="@{'/post/'+${postUserEntry.key.postId}}"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a><!--图标-->
                    <br>
                    <span class="text-muted">
                            <span th:text="${postUserEntry.key.readCount}"></span> 阅读 ·
                            <span th:text="${postUserEntry.key.commentCount}"></span> 评论 ·
                            <span th:text="${#dates.format(postUserEntry.key.createTime,'MM-dd HH:mm')}"></span>
                        </span>
                </div>
                <hr style="width: 710px">
            </div>

            <nav aria-label="Page navigation">
                <ul class="pagination">

                    <li th:if="${session.pageInfo.hasPreviousPage}">
                        <a th:href="'?page=1'">首页</a>
                    </li>
                    <li>
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li th:if="${session.pageInfo.hasPreviousPage}">
                        <a th:href="@{(page=${session.pageInfo.pageNum}-1)}">上一页</a>
                    </li>
                    <li th:if="${session.pageInfo.pageNum}>2">
                        <a th:href="@{/(page=${session.pageInfo.pageNum}-2)}"><span th:text="${session.pageInfo.pageNum}-2"></span></a>
                    </li>
                    <li th:if="${session.pageInfo.pageNum}>1">
                        <a th:href="@{/(page=${session.pageInfo.pageNum}-1)}"><span th:text="${session.pageInfo.pageNum}-1"></span></a>
                    </li>
                    <!--当前页-->
                    <li class="active disabled">
                        <a href="#"><span th:text="${session.pageInfo.pageNum}"></span></a>
                    </li>
                    <li th:if="${session.pageInfo.pageNum}+1<=${session.pageInfo.pages}">
                        <a th:href="@{/(page=${session.pageInfo.pageNum}+1)}"><span th:text="${session.pageInfo.pageNum}+1"></span></a>
                    </li>
                    <li th:if="${session.pageInfo.pageNum}+2<=${session.pageInfo.pages}">
                        <a th:href="@{/(page=${session.pageInfo.pageNum}+2)}"><span th:text="${session.pageInfo.pageNum}+2"></span></a>
                    </li>
                    <li th:if="${session.pageInfo.hasNextPage}">
                        <a th:href="@{/(page=${session.pageInfo.pageNum}+1)}">下一页</a>
                    </li>
                    <li th:if="${session.pageInfo.hasNextPage}">
                        <a th:href="@{/(page=${session.pageInfo.pageNum}+1)}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>

        </div>
        <div class="col-md-3">
            <h2>( ⓛ ω ⓛ *)</h2>
            <!--搜索框-->
            <form class="navbar-form navbar-left" th:action="@{/post/search}">
                <div class="form-group">
                    <input type="text" name="keyword" class="form-control" placeholder="Search">
                    <input type="hidden" name="stuId" th:value="${session.userEntity.stuId}">
                </div>
                <button type="submit" class="btn btn-default">搜索</button>
                <a th:href="@{/user/catGame}" style="margin: 0 15px 0 15px">🐱</a>
            </form>
            <div class="btn-group-vertical" role="group" aria-label="...">
                <button class="btn btn-primary" type="button">
                    Messages <span class="badge">1</span>
                </button>
                <button class="btn btn-success" type="button">
                    Messages <span class="badge">2</span>
                </button>
                <button class="btn btn-info" type="button">
                    Messages <span class="badge">4</span>
                </button>

                <button type="button" class="btn btn-default">1</button>
                <button type="button" class="btn btn-warning">
                    <a href="#">Inbox <span class="badge">42</span></a>
                </button>
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#">Dropdown link</a></li>
                        <li><a href="#">Dropdown link</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<each>

</each>


<script th:inline="javascript">
    function changeMusic() {
        var a = document.getElementById('changeMusic');
        a.src = 'https://api.uomg.com/api/rand.music';
    }
    // window.onload=function () {
    //     countLiveDays();
    //     document.getElementById("liveDays").innerHTML=countLiveDays();
    // }
    // function countLiveDays() {
    //     // var idNum = (String)[[${session.userEntity.idNum}]];
    //     var idNum = sessionStorage.getItem("userEntity").idNum;
    //     var year = idNum.substring(6,10);
    //     var month = idNum.substring(10,12);
    //     var day = idNum.substring(12,14);
    //     console.log('生日=='+year+month+day);
    //     // var birthday = year+'-'+month+'-'+day;
    //     var birthday = new Date(year,month,day);
    //     // var s = new SimpleDateFormat("yyyy-MM-dd");
    //     // var old = s.parse(birthday).getTime();
    //     var old = birthday.getTime();
    //     var now = new Date().getTime();
    //     console.log('出生'+old+'现在'+now);
    //     var days = (now-old)/(24*60*60*1000);
    //     console.log('天数'+days);
    //     document.getElementById("liveDays").innerHTML=parseInt(days);
    // }
</script>
</body>
</html>