<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.pjy.nchu2.mapper.PostMapper">

    <!--查询帖子-->
    <!--查询所有-->
    <select id="selectAllPost" resultType="com.pjy.nchu2.entity.PostEntity">
        select * from post
    </select>
    <!--查询指定帖子-ID-->
    <select id="selectOnePostById" resultType="com.pjy.nchu2.entity.PostEntity">
        select * from post
        where post_id = #{postId}
    </select>
    <!--手动分页查询-->
    <select id="selectPagePost" resultType="com.pjy.nchu2.entity.PostEntity">
        select * from post limit #{start},#{size}
    </select>
    <!--查询个人帖子-->
    <select id="selectPersonPost" resultType="com.pjy.nchu2.entity.PostEntity">
        select * from post where stu_id = #{stuId}
    </select>
    <!--搜索查询-->
    <select id="searchPost" resultType="com.pjy.nchu2.entity.PostEntity">
        select * from post
        where title
        like CONCAT('%',#{keyword,jdbcType=VARCHAR},'%')
        or content
        like CONCAT('%',#{keyword,jdbcType=VARCHAR},'%')
    </select>
    <!--搜索个人帖子-->
    <select id="searchPostById" resultType="com.pjy.nchu2.entity.PostEntity">
        select * from post
        where stu_id = #{stuId}
        and title
        like CONCAT('%',#{keyword,jdbcType=VARCHAR},'%')
        or content
        like CONCAT('%',#{keyword,jdbcType=VARCHAR},'%')
    </select>

    <!--插入帖子-->
    <insert id="insert">
        insert into post
        (title, comment_count, read_count, like_count, update_time, is_release, keep_count,
        stu_id, type,  release_time, content, tag, is_public, link_url, link_name, list_photo)
        values
        (#{title}, #{commentCount}, #{readCount}, #{likeCount}, current_timestamp, #{isRelease}, #{keepCount}, #{stuId},
        #{type},  current_timestamp, #{content},  #{tag}, #{isPublic}, #{linkUrl}, #{linkName}, #{listPhoto})

    </insert>

    <!--update-->
    <update id="update" >
        update post
        set
            title=#{title},
            content=#{content},
            tag = #{tag},
            is_release = #{isRelease},
            is_public = #{isPublic},
           <!--update_time = #{updateTime}-->
            update_time = current_timestamp
        where post_id = #{postId}
    </update>

</mapper>