<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pjy.nchu2.mapper.UserMapper">
    <select id="accountLogin" parameterType="com.pjy.nchu2.model.user.UserLoginModel" resultType="com.pjy.nchu2.entity.UserEntity">
        select * from civil_e
        where stu_id = #{stuId} and password = #{password}
    </select>
    <select id="selectOneUser" resultType="com.pjy.nchu2.entity.UserEntity">
        select * from civil_e
        where stu_id = #{stuId}
    </select>
    <!--初始化用户设置-->
    <select id="firstSet">
        update civil_e
        set password = #{password},native_code = #{native_code}, nickName=  #{nickName},avatar=#{avatar}
        where stu_id = #{stuId}
    </select>
</mapper>