.body{
    /*background: #5bc0de;*/
    /*height: 600px;*/
}
.content{
    position: relative;
    top: 50px;
    /*margin: 30px;*/
    margin: 30px auto;
    width: 92%;
}
.media {
    margin: 20px auto;
}
input-group{

}
a {
    text-decoration: none;
    padding: 0;
}
li button{
    height: 40px;
}
.logo{
    width: 32px;
    margin: 9px;
    box-shadow:0px 1px 3px lightgray ;
}
#changeMusic0 {
    position: absolute;
    /*display: inline-block;*/
    left: 1030px;
    /*margin: 0 auto;*/
    /*text-align: center;*/
    width: 180px;
    height: 42px;
    border-radius: 25px;
    box-shadow: 0px 1px 5px lightgrey;
    margin: 3px;

}
#musicButton {
    width: 24px;
    height: 24px;
    padding: 0;
    position: absolute;
    left: 990px;
    top: 15px;
    border-radius: 180px;
    border: none;
    background: white;
    box-shadow: 0px 0px 5px grey;
    outline: none;/*去除按下之后的外边框*/
}