<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="Access-Control-Allow-Origin" content="*"/>
    <link rel="icon" href="/images/paperPlane.gif">
    <title>NCHU</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/index.css">
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <script src="/js/nchu.js"></script>
    <script src="/js/api.js"></script>
</head>


<body class="body" id="body">

<!--导航栏-->
<nav class="navbar navbar-default navbar-fixed-top" th:include="nav::navPart">
</nav>

<!--content-->
<div class="container-fluid content">
    <div class="row">

        <div class="col-xs-12 col-md-8" style="background: rgba(255,255,255,0.95);border-radius: 3px;">
            <ul class="nav nav-tabs">
                <li role="presentation" class="active">
                    <a th:href="@{/}" >
                        Home
                    </a>
                </li>
                <li role="presentation">
                    <a th:href="@{/post/toPublish}" target="_blank">
                        发帖
                    </a>
                </li>
                <li role="presentation">
                    <a href="/user/userInfo.html">Messages</a>
                </li>
            </ul>

            <!--帖子展示-->
            <div class="media" th:each="postUserEntry : ${session.postUserMap}">
                <div class="media-left">
                    <a href="#">
                        <img style="width: 40px; box-shadow: 1px 1px 2px midnightblue; " class="media-object img-circle"
                             th:src="${postUserEntry.value.avatar}"
                             th:alt="${postUserEntry.value.name}">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading text-primary" style="font-family:'楷体';line-height: 42px"
                        th:text="${postUserEntry.value.nickName}"></h4>
                    <span class="text-justify" th:text="${postUserEntry.key.title}"></span> <!--标题-->
                    <a th:href="@{'/post/'+${postUserEntry.key.postId}}"><span class="glyphicon glyphicon-chevron-right"
                                                                               aria-hidden="true"></span></a><!--图标-->
                    <br>
                    <span class="text-muted">
                            <span th:text="${postUserEntry.key.readCount}"></span> 阅读 ·
                            <span th:text="${postUserEntry.key.commentCount}"></span> 评论 ·
                            <span th:text="${#dates.format(postUserEntry.key.createTime,'MM-dd HH:mm')}"></span>
                        </span>
                </div>
                <hr style="width: 710px">
            </div>

            <nav aria-label="Page navigation">
                <ul class="pagination">

                    <li th:if="${session.pageInfo.hasPreviousPage}">
                        <a th:href="'?page=1'">首页</a>
                    </li>
                    <li th:if="${session.pageInfo.hasPreviousPage}">
                        <a th:href="@{(page=${session.pageInfo.pageNum}-1)}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li th:if="${session.pageInfo.hasPreviousPage}">
                        <a th:href="@{(page=${session.pageInfo.pageNum}-1)}">上一页</a>
                    </li>
                    <li th:if="${session.pageInfo.pageNum}>2">
                        <a th:href="@{/(page=${session.pageInfo.pageNum}-2)}"><span
                                th:text="${session.pageInfo.pageNum}-2"></span></a>
                    </li>
                    <li th:if="${session.pageInfo.pageNum}>1">
                        <a th:href="@{/(page=${session.pageInfo.pageNum}-1)}"><span
                                th:text="${session.pageInfo.pageNum}-1"></span></a>
                    </li>
                    <!--当前页-->
                    <li class="active disabled">
                        <a><span th:text="${session.pageInfo.pageNum}"></span></a>
                    </li>
                    <li th:if="${session.pageInfo.pageNum}+1<=${session.pageInfo.pages}">
                        <a th:href="@{/(page=${session.pageInfo.pageNum}+1)}"><span
                                th:text="${session.pageInfo.pageNum}+1"></span></a>
                    </li>
                    <li th:if="${session.pageInfo.pageNum}+2<=${session.pageInfo.pages}">
                        <a th:href="@{/(page=${session.pageInfo.pageNum}+2)}"><span
                                th:text="${session.pageInfo.pageNum}+2"></span></a>
                    </li>
                    <li th:if="${session.pageInfo.hasNextPage}">
                        <a th:href="@{/(page=${session.pageInfo.pageNum}+1)}">下一页</a>
                    </li>
                    <li th:if="${session.pageInfo.hasNextPage}">
                        <a th:href="@{/(page=${session.pageInfo.pageNum}+1)}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-xs-12 col-md-3"
             style="background: rgba(255,255,255,0.85); margin-left: 10px; border-radius: 3px;position: relative;float: left">
            <h4>( ⓛ ω ⓛ *)</h4>
            <hr>
            <!--古诗-->
            <div>
                <h4 id="gushiContent">1</h4>
                ---《<span id="gushiName"></span>》
                <span id="gushiAuthor">2</span>
            </div>
            <hr>
            <div>
                <img width="270px" id="ciba" src="" alt="">
            </div>
            <hr>
            <div id="history"></div>
            <hr>
            <div id="news"></div>
            <hr>
        </div>
    </div>
</div>
</body>
</html>