<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="icon" href="/images/paperPlane32.gif">
    <title>NCHU</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/index.css">
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
</head>


<body class="body">
<!--导航栏-->
<nav class="navbar navbar-default navbar-fixed-top" th:fragment="navPart" >
    <div class="container-fluid" style="box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" th:href="@{/}">NCHU</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <form class="navbar-form navbar-left" th:action="@{/post/search}">
                <div class="form-group">
                    <input type="text" name="keyword" class="form-control" placeholder="Search">
                    <!--<input type="hidden" name="stuId" th:value="${session.userEntity.stuId}">-->
                </div>
                <button type="submit" class="btn btn-default">搜索</button>
                <a th:href="@{/user/catGame}" style="margin: 0 15px 0 15px">🐱</a>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <!--不存在session时-->
                <li th:if="${session.userEntity}==null"><img class="logo"
                                                             src="/images/paperPlane32.gif">
                </li>
                <li th:if="${session.userEntity}==null"><a th:href="@{/user/login}">登录</a></li>
                <!--存在session时-->
                <li th:if="${session.userEntity}!=null"><img class="logo" th:src="${session.userEntity.avatar}"></li>
                <li class="dropdown" th:if="${session.userEntity}!=null">

                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false"><span th:text="${session.userEntity.nickName}"></span><span
                            class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a th:href="@{/user/profile}">个人中心</a></li>
                        <li><a th:href="@{/user/info}">个人资料</a></li>
                        <li><a th:href="@{/user/profile}">Something</a></li>
                        <li role="separator" class="divider"></li>
                        <!--                        <li><a id="logout"  onclick="clearSession()" >退出登录</a></li>-->
                        <li><a id="logout" th:href="@{/user/logout}">退出登录</a></li>
                    </ul>

                </li>
                <!--                <span style="line-height: 50px">▼</span>-->
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<script type="application/javascript">
    function changeMusic() {
        var a = document.getElementById('changeMusic');
        a.src = 'https://api.uomg.com/api/rand.music';
    }
</script>
</body>
</html>